<ion-tabs>
    <ion-tab [root] = "appareilsPage" tabTitle="Appareils"
    tabIcon="bulb"></ion-tab>
    <ion-tab [root]="settingsPage" tabTitle="Settings"
    tabIcon="settings"></ion-tab>
</ion-tabs>