<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Réglages</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button icon-start (click)="onToggleLights()">
   <ion-icon name="power"></ion-icon>
    Lumières
  </button>
</ion-content>
<ion-footer padding>

</ion-footer>
